.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  /*stroke: steelblue;*/
  stroke-width: 1.5px;
}

#graph-key-container {
    width: 100%;
    padding: 5px 15px;
    display: inline-block;
    height: 30px;
}

dt, dd {
    display: inline;
}

.key-color-box {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
}

.graph-key {
    display: inline-block;
}
